/*--- IMPORT ---*/

@import "fonts";
@import "variables";
@import "basic";
@import "slick";
@import "popup";

/*--- header ---*/



.info-work {
  display: flex;
  font-size: 16px;
  color: #fff;
  @media(max-width: 1240px){
    font-size: 12px;
  }
  @media(max-width: 540px){
    display: none;
  }
  p{
    margin: 0px 20px;
  }
}

.js-onload {
  display: none;
}

body {
  height: 100%;
}

header{
  .fix-menu{
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .cookie-container{
      background-color: #ffffff;
      padding-top: 10px;
      padding-bottom: 14px;
      display: none;
      position: relative;
      z-index: 120;

      .content{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @media(max-width: 992px){
          flex-wrap: wrap;
        }

        p{
          font-size: 12px;
          width: 1070px;
          line-height: 1.2;
          margin-bottom: 0;

          @media(max-width: 1410px){
            width: 750px;
          }

          @media(max-width: 992px){
            width: 100%;
            margin-bottom: 15px;
          }

          a{
            color: #0076a8 !important;
          }
        }

        .button{
          width: 180px;
          text-align: center;
          padding: 0;
          font-size: 12px !important;
          background-color: #ffffff;
          height: 30px !important;
          line-height: 28px !important;
          border-radius: 2px;
          border: 1px solid #0076a8;
          color: #0076a8 !important;
          transition: all 0.5s;

          &:hover{
            color: #ffffff !important;
            background-color: #0076a8;

            svg{
              path{
                stroke: #ffffff;
              }
            }
          }

          svg{
            width: 12px;
            margin-bottom: -3px;
            margin-right: 10px;

            path{
              transition: all 0.5s;
            }
          }
        }
      }
    }


    .info-container{
      background: #111111;
      padding-top: 20px;
      padding-bottom: 20px;
      position: relative;
      z-index: 120;
      color: #fff;

      .content{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        @media(max-width: 992px){
          flex-wrap: wrap;
        }

        p{
          font-style: normal;
          font-weight: normal;
          line-height: 22px;
          font-size: 14px;

          color: #FFFFFF;

          width: 1070px;
          margin-bottom: 0;

          @media(max-width: 1410px){
            width: 750px;
          }

          @media(max-width: 992px){
            width: 100%;
            margin-bottom: 15px;
          }

          @media(max-width: 600px){
           font-size: 10px;
            line-height: 15px;
          }

          a{
            color: #86BC25 !important;
          }
        }

        .button{
          width: 180px;
          text-align: center;
          padding: 0;
          font-size: 12px !important;
          background-color: #ffffff;
          height: 30px !important;
          line-height: 28px !important;
          border-radius: 2px;
          border: 1px solid #0076a8;
          color: #0076a8 !important;
          transition: all 0.5s;

          &:hover{
            color: #ffffff !important;
            background-color: #0076a8;

            svg{
              path{
                stroke: #ffffff;
              }
            }
          }

          svg{
            width: 12px;
            margin-bottom: -3px;
            margin-right: 10px;

            path{
              transition: all 0.5s;
            }
          }
        }
      }
    }

    .logo-phone{
      background-color: #000000;
      padding-top: 8px;
      padding-bottom: 7px;
      width: 100%;

      @media(max-width: 540px){
        padding-top: 21px;
        padding-bottom: 40px;
      }

      .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        .logo-wrapper{
          color: #fff;
          width: 324px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          @media(max-width: 650px){
            width: auto;
          }

          @media(max-width: 540px){
            width: 93px;
            position: absolute;
            top: 0;
            right: 50%;
            margin-right: -46.5px;
            z-index: 101;
          }

          .logo{
            color: #fff;
            width: 47px;
            height: auto;
          }

          .line{
            width: 1px;
            height: 16px;
            background-color: #97999B;

            @media(max-width: 650px){
              display: none;
            }
          }

          p{
            color: #97999B;
            font-size: 21px;
            font-family: $f-main;
            margin-bottom: 0;

            @media(max-width: 650px){
              display: none;
            }
          }
        }

        .phone-wrapper{
          display: flex;
          align-items: center;

          @media(max-width: 540px){
            display: none;
          }

          .phone{
            color: #ffffff !important;
            font-size: 16px;
            outline: none !important;
            margin-right: 16px;

            @media(max-width: 1240px){
              font-size: 12px;
            }

          }

          .callback{
            opacity: 0.5;
            color: #ffffff !important;
            outline: none;
            transition: all 0.5s;

            &:hover{
              opacity: 1;
            }
          }
        }

        .mob-menu-btn{
          display: none;
          position: absolute;
          top: 0;
          right: 15px;
          width: 30px;
          height: 20px;
          flex-wrap: wrap;
          align-items: center;
          background-color: #000000;
          z-index: 101;

          @media(max-width: 540px){
            display: flex;
          }

          div{
            width: 100%;
            background-color: #ffffff;
            height: 2px;
            transition: all 0.5s;
            transform: rotate(0deg);
            opacity: 1;
          }
        }

        .active-menu{
          div{
            &:nth-child(1){
              transform: rotate(25deg) translateX(2px) translateY(5px);
            }
            &:nth-child(2){
              opacity: 0;
            }
            &:nth-child(3){
              transform: rotate(-25deg) translateX(3px) translateY(-8px);
            }
          }
        }

        .mob-menu{
          display: none;
          height: 100vh;
          position: absolute;
          background-color: #000000;
          color: #ffffff;
          transform: translateY(-101%);
          top: 0;
          left: 0;
          z-index: 100;
          align-items: center;
          padding-bottom: 228px;
          transition: all 0.5s;

          @media(max-width: 540px){
            display: flex;
          }

          ul{
            position: relative;
            width: 100%;
            padding: 0;
            margin: 0;
            opacity: 0;
            transition: all 2s;

            li{
              list-style: none;
              margin-bottom: 40px;
              text-align: center;
              display: block;

              @media(max-height: 550px){
                margin-bottom: 20px;
              }

              &:last-child{
                margin-bottom: 0;
              }

              a{
                color: #ffffff !important;
                font-size: 24px;
              }
            }
          }

          .fix-content{
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            opacity: 0;
            transition: all 2s;
            padding-bottom: 30px;

            .lang{
              border-top: 1px solid #97999B;
              border-bottom: 1px solid #97999B;
              padding: 28px 0;
              text-align: center;

              a{
                color: #ffffff;
                font-size: 16px;
                opacity: 0.5;
                display: inline-block;
                padding: 0;

                &:hover{
                  color: $accent;
                }
              }

              .active-lang{
                opacity: 1;

                &:hover{
                  color: #ffffff;
                }
              }
            }

            .mob-phone-wrapper{

              .inner{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 31px auto 34px;
                width: 202px;

                img{
                  width: 44px;
                }

                div{
                  width: 139px;

                  .phone{
                    color: #ffffff !important;
                    font-size: 16px;
                    outline: none !important;
                    margin-right: 16px;
                    @media(max-width: 540px){
                      margin-right: 0 !important;
                    }
                  }

                  .callback{
                    opacity: 0.5;
                    color: #ffffff !important;
                    outline: none;
                  }
                }
              }
            }
          }
        }

        .active-mob-menu{
          transform: translateY(0);

          ul{
            opacity: 1;
          }

          .fix-content{
            opacity: 1;
          }
        }
      }
    }

    nav{
      background-color: #53565A;
      padding-top: 8px;
      padding-bottom: 8px;
      width: 100%;

      @media(max-width: 540px){
        display: none;
      }

      .content{
        display: flex;
        justify-content: flex-end;


        .menu{
          //margin-right: 50px;

          //@media(max-width: 570px){
          //  margin-right: 35px;
          //}

          .menu-btn{
            display: none;

            @media(max-width: 540px){
              display: block;
            }
          }

          ul{
            padding: 0;
            display: flex;
            margin: 0;

            @media(max-width: 540px){
              display: none;
            }

            li{
              margin-right: 45px;
              list-style: none;

              @media(max-width: 650px){
                margin-right: 25px;
              }

              &:last-child{
                margin-right: 0;
              }

              a{
                color: #ffffff;
                outline: none !important;
                font-size: 16px;
                transition: all 0.5s;

                &:hover{
                  color: $accent;
                }
              }
            }
          }
        }

        .lang{
          width: 175px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          a{
            color: #ffffff;
            font-size: 16px;
            opacity: 0.5;
            transition: all 0.5s;
            padding: 0;

            &:hover{
              color: $accent;
            }
          }

          .active-lang{
            opacity: 1;

            &:hover{
              color: #ffffff;
            }
          }

          .line{
            width: 1px;
            height: 16px;
            background-color: #ffffff;
          }
        }
      }
    }
  }





  .header-content{

    .js-onload {
      color: #fff;
    }

    .info-bar {
      display: none;
      padding-left: 190px;
      margin: 0 auto;
      margin-top: 57px;

      @media(max-width: 540px){
        display: none;
      }

      .item {
        border-radius: 20px;
        //border: 3px solid #000000;
        margin: 0 20px;

        background: rgba(83, 86, 90, 0.7);
        h3 {
          margin-top: 40px;
          color: #fff;
          text-align: center;
        }

        p{
          font-size: 16px;
          text-align: center;
          color: #fff;
          padding: 50px 0;
          height: 150px;

          a {
            color: #fff;
          }
        }
      }

    }

    #myVideo {
      position: absolute;
      //left: 0;
      //bottom: 0;
      //top: 0;
      width: 100%;
      height: 900px;
      background-size: 100% 100%;
      background-color: black;
      background-position: center center;
      background-size: contain;
      object-fit: cover;

      @media(max-width: 992px){
        height: 700px;

      }
    }
    .img-overlay {
      background: #000;
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0.5;
    }

    height: 900px;
    //background: url("../img/main-banner.jpg");
    background-size: cover;
    padding-top: 0px;
    padding-bottom: 96px;
    overflow: hidden;
    color: #ffffff;
    @media(max-width: 992px){
      height: 700px;

    }

    @media(max-width: 1410px){
      padding-bottom: 60px;

    }

    @media(max-width: 540px){
      padding-top: 7px;
    }

    .content{
      text-align: center;
      position: relative;

      .banner {
        width: 600px;
        display: none;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 30px;

        @media(max-width: 992px){
          width: 400px;
        }
      }

      .mob-pic{
        display: none;

        @media(max-width: 992px){
          display: block;
          width: 70%;
          height: auto;
          margin: 0 auto 50px;
          min-width: 181px;
        }
      }

      h1{
        font-size: 30px;
        max-width: 450px;
        font-style: normal;
        font-weight: normal;
        line-height: 50px;
        font-size: 40px;
        margin: 300px auto 50px auto;

        @media(max-width: 992px){
          font-size: 28px;
        }

        @media(max-width: 767px){
          font-size: 24px;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
        }

      }

      p{
        max-width: 480px;
        font-size: 14px;
        margin-bottom: 34px;

        @media(max-width: 1410px){
          max-width: 380px;
        }

        span{
          @media(max-width: 347px){
            display: block;
            margin-bottom: 30px;
          }
        }
      }



      .button{
        width: 330px;
        padding: 0;
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        font-size: 30px;
        padding: 35px 0;
        line-height: 3px;
        width: 400px;

        @media(max-width: 992px){
          font-size: 20px;
          width: 300px;

        }

        @media(max-width: 380px){
          width: 290px;
      }
        @media(max-width: 767px){
          display: block;
          margin: 0 auto;
        }
      }

      .js-onload {
        display: block;
      }

      .banner-buttons {
        display: flex;
        justify-content: space-between;
        padding-top: 150px;
        .button {
          margin: 0;
          font-size: 16px;
          width: 100px;
          padding: 10px 0px;
          margin-top: 0;
          height: 30px;
          line-height: 10px;
          color: #fff;
        }
      }

      .program-btn{
        display: block;
        width: 330px;
        text-align: center;
        color: $accent !important;
        height: 50px;
        line-height: 50px;
        background-color: #000000;
        font-family: $f-S-bold !important;
      }

      .pic{
        position: absolute;
        display: block;
        width: 650px;
        height: auto;
        right: 70px;
        top: -100px;

        @media(max-width: 1410px){
          width: 560px;
          top: -69px;
          right: -40px;
        }

        @media(max-width: 992px){
          display: none;
        }
      }
    }
  }
}


/*--- main-topics ---*/

.main-topics{
  background: linear-gradient(to top left, #fff, #53565A);
  //background-color: #53565A;
  padding-top: 100px;
  padding-bottom: 50px;

  @media(max-width: 767px){
    padding-top: 44px;
    padding-bottom: 50px;
  }

  .content{
    .block-title{
      margin-bottom: 65px;

      @media(max-width: 767px){
        margin-bottom: 30px;
      }
    }

    .flow{
      width: 100%;
      margin-bottom: 59px;
      color: #ffffff;

      @media(max-width: 767px){
        margin-bottom: 30px;
      }

      &:last-child{
        margin-bottom: 0;
      }


      .top{

        padding-left: 160px;
        display: flex;
        align-items: center;

        @media(max-width: 1410px){
          padding-left: 50px;
        }

        @media(max-width: 992px){
          padding-left: 15px;
        }

        @media(max-width: 767px){
          flex-wrap: wrap;
          padding-left: 15px;
          padding-right: 15px;
        }

        .pic{
          margin-right: 20px;
          width: 250px;
          height: auto;

          @media(max-width: 992px){
            width: 175px;
          }

          @media(max-width: 767px){
            margin: 0 auto;
            margin-bottom: 29px;
          }
        }

        .text{


          @media(max-width: 767px){
            width: 100%;
          }

          h3{
            margin-top: 0;
            margin-bottom: 17px;
            font-size: 18px;

            @media(max-width: 767px){
              font-size: 16px;
            }
          }

          p{
            max-width: 670px;
            color: #000;
            font-style: normal;
            font-weight: 600;
            line-height: 26px;
            font-size: 18px;
          }

          a{
            height: 40px;
            line-height: 40px;
            color: $accent !important;
            font-family: $f-S-bold;
            display: block;
            position: relative;
            padding-left: 60px;

            &::before{
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 39px;
              height: 39px;
              border: 2px solid $accent;
              border-radius: 50%;
              background-image: url("../img/btn-arrow.svg");
              background-repeat: no-repeat;
              background-position: center center;
              transition: all 0.5s;
            }
          }

          .active-flow{
            &::before{
              transform: rotate(-90deg);
            }
          }
        }
      }

      .bottom{
        width: 100%;
        padding-top: 82px;
        padding-bottom: 71px;

        @media(max-width: 992px){
          padding-bottom: 21px;
        }

        .items-wrapper{
          width: 930px;
          margin: 0 auto;
          display: flex;
          justify-content: space-between;

          @media(max-width: 1410px){
            width: 850px;
          }

          @media(max-width: 992px){
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-around;
          }

          p{
            width: 210px;
            margin-bottom: 0;
            font-size: 14px;
            padding-top: 67px;
            background-repeat: no-repeat;
            background-position: top left;

            @media(max-width: 1410px){
              width: 190px;
            }

            @media(max-width: 992px){
              width: 245px;
              margin-bottom: 50px;
            }
          }
        }
      }
    }
  }
}




/*--- practice ---*/

.practice{
  background-color: #000000;
  padding-top: 99px;
  padding-bottom: 108px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  color: #ffffff;

  @media(max-width: 767px){
    padding-top: 40px;
    padding-bottom: 45px;
  }

  .button-wrapper {
    text-align: left;
    @media (max-width: 700px) {
      text-align: center;
    }
  }

  .content{
    position: relative;

    .block-title{
      margin-bottom: 46px;

      @media(max-width: 992px){
        margin-bottom: 300px;
      }
    }

    h3{
      margin-top: 0;
      margin-bottom: 33px;
      font-size: 18px;
      max-width: 704px;
      line-height: 1.5;

      @media(max-width: 767px){
        font-size: 16px;
      }

      &:last-child{
        margin-bottom: 0;
      }
    }

    ul{
      padding: 0;
      margin-bottom: 50px;
      width: 675px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media(max-width: 700px){
        justify-content: space-around;
        width: 100%;
      }


      li{
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 330px;
        align-items: center;
        margin-bottom: 41px;

        @media(max-width: 700px){
          width: 450px;
          margin-bottom: 30px;
          &:nth-child(1),
          &:nth-child(3){
            order: -1;
          }

          &:nth-child(2){
            order: 0;
          }
        }

        @media(max-width: 490px){
          width: 100%;
          margin-bottom: 15px;
          justify-content: flex-start;
          padding-left: 15px;
        }

        &:nth-child(3),
        &:nth-child(4){
          margin-bottom: 0;
        }

        &:nth-child(3){
          @media(max-width: 700px){
            margin-bottom: 30px;
          }

          @media(max-width: 495px){
            margin-bottom: 15px;
          }
        }

        .number{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 2px solid $accent;
          line-height: 46px;
          text-align: center;
          font-size: 18px;
          color: $accent;
          font-family: $f-S-bold;
          margin-bottom: 0;

          @media(max-width: 495px){
            margin-right: 15px;
          }
        }

        .text{
          margin-bottom: 0;
          font-size: 14px;
          width: 267px;

          @media(max-width: 700px){
            width: 370px;
          }

          @media(max-width: 495px){
            width: 300px;
          }

          @media(max-width: 390px){
            width: 197px;
          }
        }
      }
    }

    .pic{
      position: absolute;
      display: block;
      right: 0;
      top: -34px;
      width: 500px;
      height: auto;

      @media(max-width: 1410px){
        width: 300px;
        top: 50%;
        margin-top: -122.5px;
      }

      @media(max-width: 992px){
        margin-top: 0;
        top: 27px;
        right: 50%;
        margin-right: -122.5px;
      }
    }
  }
}
.all-conditions{
  background: linear-gradient(to top left, #fff, #53565A);
  padding-top: 80px;
  padding-bottom: 10px;
  color: #ffffff;
  background-attachment: fixed;



  .list-conditions .item-conditions {
    float: left;
    width: 24.2%;
    padding: 30px 15px 0;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    margin: 10px 5px;
    height: 320px;

    @media(max-width: 1240px){
      width: 45%;
    }
  }

  .list-conditions .item-conditions img {
    width: 60%;
    border-radius: 50%;
  }

  .list-conditions .item-conditions p {
    padding: 10px 0px;
    font-size: 32px;
    color: #fff;
  }
  @media(max-width: 767px){
    padding-top: 42px;
    padding-bottom: 50px;
  }

  .content{

    @media (max-width: 1410px) {
      padding-right: 50px;
      padding-left: 50px;
    }
    @media (max-width: 992px) {
      padding-right: 0px;
      padding-left: 0px;
    }
    .block-title{
      font-style: normal;
      font-weight: normal;
      line-height: 43px;
      font-size: 44px;
      text-align: center;
      margin-bottom: 44px;
    }

    .items-wrapper{
      display: flex;
      justify-content: space-between;

      @media(max-width: 992px){
        flex-wrap: wrap;
        justify-content: space-around;
      }

      @media(max-width: 604px){
        width: 300px;
        margin: 0 auto;
      }

      .item{
        width: 300px;

        @media(max-width: 1410px){
          width: 275px;
        }

        @media(max-width: 992px){
          margin: 0 20px 20px;

          &:nth-child(4){
            margin-left: 90px;
            margin-bottom: 0;
          }

          &:nth-child(5){
            margin-right: 108px;
            margin-bottom: 0;
          }
        }

        @media(max-width: 604px){
          margin-left: 0;
          margin-right: 0;
          margin-bottom: 20px;

          &:last-child{
            margin-bottom: 0;
          }

          &:nth-child(4){
            margin-left: 0px;
            margin-bottom: 20px;
          }

          &:nth-child(5){
            margin-right: 0px;

          }

        }

        .border-text{
          text-align: center;
          color: #000000;
          line-height: 1;
          margin-bottom: 20px;
          //font-size: 96px;
          //font-family: $f-EX-bold;

        }

        .text{
          font-style: normal;
          font-weight: normal;
          line-height: 20px;
          font-size: 14px;
          margin-bottom: 0;
        }
      }
    }
  }
}



/*--- our-tobacco ---*/


.tobacco {
  padding-top: 120px;
  padding-bottom: 100px;
  background: linear-gradient(to top left, #53565A, #000);

}



.tobacco .block-title {
  text-align: center;
  color: #fff;
  font-size: 44px;
}


.tobacco .list-tobacco {
  padding: 50px 20px 0;
}
.tobacco .list-tobacco .item-coctails {
  background: url("../img/coktails-back.jpg");
  z-index: 4;
  padding: 0;
  position: relative;
  height: 300px;

  .coktails-name {
    margin: 0;
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    text-align: center;
    font-size: 25px;
    width: 100%;
    background: rgba(0,0,0, 0.6);
    color: #fff;
  }

  .disclaimer {
    padding: 20px 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,.8);
    display: none;
    z-index: 999;
    color: #fff;
  }

  a {
    color: #fff;
  }

}

.tobacco .list-tobacco .item-tobacco a {
  display: block;
  margin: 3px;
}

.tobacco .list-tobacco .item-tobacco img {
  display: block;
  width: 100%;
  opacity: .6;
  transition: 1s;
}


.tobacco .list-tobacco .item-tobacco img:hover {

  opacity: 1;
}

/*---  menu  ---*/

.wrap-menu{
  padding-top: 100px;
  //background: url("../img/gallery/bag1.jpg");
  background-size: cover;
  background: linear-gradient(to top left, #53565A, #000);

  .img-overlay {
    background: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.7;
  }

  .navigation-gallery {
    text-align: center;
    padding-bottom: 30px;

    button {
      border-color: transparent;
      background: transparent;

      i {
        color: #fff;
        font-size: 40px;
      }
    }
  }

  img {
    height: 600px;
    margin: 0 auto;
    box-shadow: 0px 1px 30px 1px #fff;
  }

  .leto-lounge {
    position: relative;
    overflow: hidden;
    padding: 60px 0px 30px 0px;

    .block-title {
      text-align: center;
      color: #fff;
      font-size: 44px;
      margin-bottom: 10px;
    }
  }



  .menu-items {
    padding: 30px 0px 30px 0px;

    .item {
      padding: 20px 0;
    }
  }
}

/*---  gallery  ---*/



.wrap-gallery {
  //background: url("../img/gallery/bag1.jpg");
  background-size: cover;
  background: linear-gradient(to top left, #53565A, #000);

  .img-overlay {
    background: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.7;
  }

  .navigation-gallery {
    text-align: center;
    padding-bottom: 30px;

    button {
      border-color: transparent;
      background: transparent;

      i {
        color: #fff;
        font-size: 40px;
      }
    }
  }

  img {
    height: 500px;
    margin: 0 auto;

  }

  .leto-lounge {
    position: relative;
    overflow: hidden;
    padding: 60px 0px 30px 0px;



    .block-title {
      text-align: center;
      color: #fff;
      font-size: 44px;
    }
  }

  .gallery-items {
    padding: 30px 0px 30px 0px;

  }
}

/*--- testimonials ---*/
.testimonials {
  padding: 30px 0px 70px;

  background: linear-gradient(to left top, rgb(255, 255, 255), rgb(83, 86, 90));

  .block-title {
    margin-bottom: 40px;
    text-align: center;
    font-size: 44px;
    color: #fff;
  }

  .testimonials-carousel {
    padding: 10px 20px;
    max-width: 700px;
    margin: 0 auto;
    box-shadow: 0px 7px 50px 9px #53565A;


  }

  .feedback {
    font-size: 20px;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
  }

  .slick-dots {
    list-style: none;
    display: table;
    margin: 15px auto;
    padding: 0;
  }
  .slick-dots li {
    display: inline-block;
    padding: 5px;
  }

  .slick-dots li button {
    background-color: #fff;
    opacity: .6;
    color: transparent;
    border-radius: 50%;
    border: none;
    width: 10px;
    height: 10px;
    outline: 0;
    cursor: pointer;
  }

  .slick-dots .slick-active button {
    opacity: 1;
  }

  .author_feedback {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
  }
}


/*--- about-us ---*/

.wrap-leto-lounge {
  background: url("../img/about-bag.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  .leto-lounge {
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;

    overflow: hidden;

    @media (max-width: 658px) {
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 12px;
    }
  }

  .ico1::before {
    content: url(../img/atm.png);
    height: 50px;
  }

  .ico2::before {
    content: url(../img/place.png);
    height: 50px;
  }

  .ico3::before {
    content: url(../img/games.png);
    height: 50px;
  }

  .ico4::before {
    content: url(../img/hookah-dum.png);
    height: 50px;
  }

  .leto-lounge-table .leto-lounge-left {
    float: left;
    width: 60%;
    height: auto;
    color: #fff;
    vertical-align: top;
    padding: 2px;
    position: relative;

    @media (max-width: 658px) {
      float: none;
      width: 100%;
    }
  }

  .leto-lounge-table .leto-lounge-left .content-left {
    padding: 50px 40px 40px;
    background-color: rgba(0,0,0,.8);
    border-radius: 3px;
    height: 100%;

    @media (max-width: 658px) {
      padding: 20px 20px;
    }
  }

  .leto-lounge-table .leto-lounge-right {
    float: left;
    width: 40%;
    vertical-align: top;

    @media (max-width: 658px) {
      float: none;
      width: 100%;
    }
  }

  .leto-lounge-table .leto-lounge-right .item-offer {
    float: left;
    width: 50%;
    padding: 2px;
  }

  .leto-lounge-table .leto-lounge-right .item-offer a {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0,0,0,.8);
    text-align: center;
    font-size: 19px;
    color: #fff;
    text-decoration: underline;
  }
}



/*--- our-speakers ---*/


.stone-block {
  background-color: #000;
  .content {
    .text {
      p{
        font-style: normal;
        font-weight: normal;
        line-height: 20px;
        font-size: 14px;

        color: #FFFFFF;
      }
    }

    .flow {
      .top{
        .text {
          p{
            font-style: normal;
            font-weight: normal;
            line-height: 20px;
            font-size: 14px;

            color: #FFFFFF;
          }
          .block-title{
              font-style: normal;
              font-weight: normal;
              line-height: 26px;
              font-size: 20px;
              margin-bottom: 20px;
              color: #FFFFFF;
          }
        }
      }
    }

  }


}


.is-so-bad {

    background: #0097A9;
    padding-top: 70px;
    padding-bottom: 109px;
    color: #ffffff;

  .content {
    padding-right: 210px;
    padding-left: 210px;
    @media (max-width: 1410px) {
      padding-right: 50px;
      padding-left: 50px;
    }
    @media (max-width: 992px) {
      padding-right: 0px;
      padding-left: 0px;
    }
  }
  .block-title {
    font-style: normal;
    font-weight: normal;
    line-height: 36px;
    font-size: 20px;
    text-align: center;
  }

  h3 {
    margin-bottom: 40px;
    margin-top: 0px;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    font-size: 14px;
    text-align: center;
  }

  .item {
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;

    margin-bottom: 20px;
    padding: 0px 20px;
    display: flex;
    align-items: center;

    .border-text {
      margin-right: 13px;
      letter-spacing: 2px;
      padding: 11px 12px;
      color: #fff;
      text-shadow: none;
      border: 2px solid #fff;
      border-radius: 50%;
      font-weight: 600;
      line-height: 26px;
      font-size: 18px;
    }
  }


}

.why-better {
  background-color: #000;
  padding-top: 70px;
  padding-bottom: 109px;
  color: #ffffff;

  .content {
    padding-right: 225px;
    padding-left: 225px;
    @media (max-width: 1410px) {
      padding-right: 50px;
      padding-left: 50px;
    }
    @media (max-width: 992px) {
      padding-right: 0px;
      padding-left: 0px;
    }
  }
  .block-title {
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    font-size: 20px;
    text-align: center;
  }

  h3 {
    max-width: 450px;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 70px;
  }



  .item {
    font-size: 14px;
    width: 290px;
    .border-text {
      text-align: center;
    }


    @media(max-width: 992px){
      margin: 0 20px 20px;


    }

    @media(max-width: 1420px){
      p {
        padding: 0 7px;
      }
    }
  }


  .buttons {
    margin-top: 70px;
    text-align: center;
  }

  .items-wrapper {
    display: flex;
    justify-content: space-between;
    @media(max-width: 992px){
        flex-wrap: wrap;
        justify-content: space-around;
    }
  }
}

.open-century {
  .content {
    padding: 73px 0;
  }
  background: #000;
  border-top: 1px solid #3b3c3d;

  .block-title {
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
    color: #FFF;
  }

  .countries-items{
    &__wrapper {
      padding: 6px 12px;
      text-align: center;
      font-size: 1em;

      @media(max-width: 767px){
        font-size: 0.8em;
      }
    }
  }

  .countries-item{
    font-family: Open Sans;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;


    &__font-18{
      //font-size: 18px;
      font-size: 1.125em;
    }
    &__font-20{
      //font-size: 20px;
      font-size: 1.25em;
    }
    &__font-24{
      //font-size: 24px;
      font-size: 1.5em;
    }
    &__font-26{
      //font-size: 26px;
      font-size: 1.625em;
    }
    &__font-28{
      //font-size: 28px;
      font-size: 1.75em;
    }
    &__font-30{
      //font-size: 30px;
      font-size: 1.875em;
    }

    &__blue-color{
      color: #62B5E5;
    }
    &__green-color{
      color: #86BC25;
    }
    &__aqua-color{
      color: #0097A9;
    }
    &__white-color{
      color: #FFFFFF;
    }
  }
}


.set-services {
  padding: 100px 0;
  background: #fff;

  .button {
    padding: 0 90px;
    @media(max-width: 767px){
      padding: 0 40px;
    }
  }

  .block-title {
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    font-size: 20px;
    max-width: 1000px;
    text-align: center;
    margin-bottom: 70px;
    margin-right: auto;
    margin-left: auto;

    color: #000000;
  }
  .item {
    margin-bottom: 70px;
    display: flex;
    @media(max-width: 767px){
      display: block;
    }

    .border-text {
      margin-right: 40px;
      img {
        width: 195px;
        height: auto;
        @media(max-width: 767px){
          margin: 0 auto;
          display: block;
        }
      }
    }

    .title-service {
      line-height: 26px;
      font-size: 18px;
      margin-bottom: 15px;
      color: #000000;
      font-weight: 600;
    }

    .text {
      font-style: normal;
      font-weight: normal;
      line-height: 20px;
      font-size: 14px;
      margin-bottom: 10px;
      color: #000000;

    }
  }

.buttons {
  text-align: center;
}
}


.helping-block {
  padding: 90px 0;

  .content {
    .block-title {
      margin-bottom: 0px;
      font-style: normal;
      font-weight: normal;
      line-height: 26px;
      font-size: 18px;
      text-align: center;

      color: #111111;
    }
    .flow {
      .top {
        padding: 0;
      }
    }
  }

  .text {
    display: block;
    margin: 0 auto;
  }

}

.our-team {
  padding: 100px 0;
  background: #fff;

  .content {
    @media(max-width: 1425px){
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    @media(max-width: 992px){
      padding-left: 15px !important;
      padding-right: 15px !important;
    }

  }

  .block-title {
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 70px;

    color: #000000;
  }
  .item {
    margin-bottom: 70px;
    display: flex;
    //align-items: center;
    @media(max-width: 1425px){
     padding-left: 0 !important;
     padding-right: 0 !important;
    }
    @media(max-width: 992px){
      display: block;
      padding-left: 15px !important;
      padding-right: 15px !important;
    }



    .border-text {
      margin-right: 20px;
      img {
        width: 210px;
        height: auto;
      }
      @media(max-width: 992px){
       text-align: center;
      }
    }

    .title-service {
      font-style: normal;
      font-weight: normal;
      line-height: 26px;
      font-size: 18px;
      color: #000000;
      font-weight: 600;
    }

    .text {
      font-style: normal;
      font-weight: normal;
      line-height: 20px;
      font-size: 14px;
      margin-bottom: 10px;
      color: #000000;

    }
  }

  .buttons {
    text-align: center;
  }
}
/*--- program ---*/

.program{
  background-color: #ffffff;
  padding-top: 98px;
  padding-bottom: 94px;

  @media(max-width: 767px){
    padding-top: 46px;
    padding-bottom: 50px;
  }

  .content{
    position: relative;

    .block-title{
      margin-bottom: 46px;
      position: relative;
      z-index: 2;

      @media(max-width: 992px){
        margin-bottom: 305px;
      }
    }

    p{
      font-size: 18px;
      margin-bottom: 46px;
      max-width: 714px;
      position: relative;
      z-index: 2;

      @media(max-width: 767px){
        font-size: 16px;
      }
    }

    .mob-btn{
      display: none;

      @media(max-width: 900px){
        display: block;
        width: 330px;
        margin: 0 auto;
        padding: 0;
      }

      @media(max-width: 380px){
        width: 100%;
      }
    }

    .button{
      @media(max-width: 540px){
        width: 100%;
        padding: 0;
      }
    }

    .desc-btn{
      display: block;
      color: $accent !important;
      height: 39px;
      line-height: 39px;
      font-family: $f-S-bold;
      padding-left: 60px;
      position: relative;

      @media(max-width: 900px){
        display: none;
      }

      &::before{
        content: '';
        width: 39px;
        height: 39px;
        border: 2px solid $accent;
        border-radius: 50%;
        background-image: url("../img/btn-arrow.svg");
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        left: 0;
        top: 0;
        transition: all 0.5s;
      }
    }

    .active-program{
      &::before{
        transform: rotate(-90deg);
      }
    }

    .pic{
      position: absolute;
      display: block;
      right: 0;
      top: -78px;
      width: 480px;
      height: auto;
      z-index: 1;

      @media(max-width: 1410px){
        width: 380px;
        top: 27px;
        right: -80px;
      }

      @media(max-width: 992px){
        right: 50%;
        margin-right: -190px;
      }

      @media(max-width: 540px){
        top: 40px;
      }

      @media(max-width: 346px){
        top: 60px;
      }
    }
  }
}





/*--- main-features ---*/

.main-features{
  background-color: #000000;
  padding-top: 98px;
  padding-bottom: 114px;
  color: #ffffff;

  @media(max-width: 767px){
    padding-top: 44px;
    padding-bottom: 50px;
  }

  .content{
    .block-title{
      margin-bottom: 24px;
    }

    .items-wrapper{
      display: flex;
      justify-content: space-between;
      margin-bottom: 55px;

      @media(max-width: 1410px){
        justify-content: space-around;
        flex-wrap: wrap;
      }

      .item{
        width: 210px;

        @media(max-width: 1410px){
          width: 240px;
          margin-bottom: 30px;

          &:nth-child(4),
          &:nth-child(5),
          &:nth-child(6){
            margin-bottom: 0;
          }
        }

        @media(max-width: 992px){
          width: 210px;
        }

        @media(max-width: 450px){
          &:nth-child(4),
          &:nth-child(5){
            margin-bottom: 30px;
          }
        }

        .border-text{
          color: #000000;
          line-height: 1;
          margin-bottom: 10px;
          font-size: 96px;
          font-family: $f-EX-bold;
        }

        .text{
          font-size: 14px;
          margin-bottom: 0;
        }
      }
    }

    .button{
      display: block;
      margin: 0 auto;
      width: 330px;
      padding: 0;

      @media(max-width: 380px){
        width: 290px;
      }
    }
  }
}

/*--- address-map ---*/

.address-map{
  display: flex;
  justify-content: space-between;
  background-color: #353535;

  @media(max-width: 850px){
    flex-wrap: wrap;
  }

  .phone{
    color: #fff !important;
  }

  .address{
    width: 50%;
    padding-top: 70px;
    padding-left: 13.28%;
    color: #ffffff;

    @media(max-width: 850px){
      width: 100%;
      padding-bottom: 50px;
      padding-top: 44px;
    }

    @media(max-width: 380px){
      padding-left: 15px;
    }

    .block-title{
      margin-bottom: 45px;
    }

    .item{
      margin-bottom: 40px;
      display: flex;
      align-items: center;

      @media(max-width: 1410px){
        padding-left: 5px;
      }

      @media(max-width: 850px){
        padding-left: 15px;
      }

      img{
        margin-right: 30px;

        @media(max-width: 992px){
          margin-right: 15px;
        }
      }

      p{
        font-size: 18px;
        margin-bottom: 0;

        @media(max-width: 767px){
          font-size: 16px;
        }
      }
    }
  }

  .map{
    width: 50%;
    height: 436px;

    @media(max-width: 850px){
      width: 100%;
      height: 340px;
    }
  }
}

/*--- questions ---*/

.questions{
  background-color: #000000;
  padding-top: 104px;
  padding-bottom: 147px;
  color: #ffffff;

  .send-mobile {
    display: none;
    @media(max-width: 840px){
      width: 80%;
    }
    @media (max-width: 420px){
      margin: 0;
    }

    @media(max-width: 360px){
      width: 100%;
    }

    @media(max-width: 480px){
      margin-top: 20px;
      display: block !important;
    }
  }
  @media(max-width: 767px){
    padding-top: 44px;
    padding-bottom: 50px;
  }

  .content{

    .disclaimer-form {
      max-width: 300px;
      margin-left: 10px;
      margin-top: 10px;
      p {
        font-size: 12px;
        color: #fff;
        margin-bottom: 10px;
      }


    }

    .contact-us__error-msg {
      margin-top: 10px;
    }

    .block-title{
      margin-bottom: 48px;
    }

    p{
      margin-bottom: 24px;
      font-size: 18px;
    }

    form{
      padding-left: 10px;
      width: 690px;
      display: flex;
      justify-content: space-between;

      @media(max-width: 1410px){
        width: 540px;
      }

      @media(max-width: 992px){
        width: 100%;
      }

      @media(max-width: 480px){
        width: 320px;
        margin: 0 auto;
        flex-wrap: wrap;
      }

      @media(max-width: 360px){
        width: 100%;
      }

      .form-col{
        width: 330px;

        @media(max-width: 1410px){
          width: 260px;
        }

        @media(max-width: 992px){
          width: 48%;
        }

        @media(max-width: 480px){
          width: 100%;
        }
      }

      .form-group{
        width: 100%;
        height: 60px;
        margin-bottom: 38px;

        label{
          font-size: 16px;
          margin-bottom: 2px;
          display: block;
          font-weight: 400;
        }

        .form-control{
          width: 100%;
          height: 50px;
          background-color: #ffffff;
          padding-left: 17px;
          font-size: 16px;
          display: block;
          @media(max-width: 840px){
            width: 80%;

          }
          @media(max-width: 360px){
            width: 100%;
          }
        }
      }


      .textarea-group{
        height: 174px;
        margin-bottom: 49px;

        textarea{
          width: 100%;
          height: 150px;
          background-color: #ffffff;
          padding-left: 17px;
          font-size: 16px;
          resize: none;
        }

        .form-control{
          height: 150px;
          padding-top: 15px;
        }
      }

      .button{
        margin-top: 20px;
        width: 100%;
        padding: 0;
        border: none;
        @media(max-width: 480px){
          display: none;
        }
        @media(max-width: 840px){
        width: 80%;
      }
        @media (max-width: 420px){
          margin: 0;
        }

        @media(max-width: 360px){
          width: 100%;
        }

      }
    }

    .pic{
      position: absolute;
      top: -1px;
      right: 210px;
      display: block;
      width: 485px;
      height: auto;

      @media(max-width: 1410px){
        width: 385px;
        top: 50%;
        right: 10px;
        margin-top: -158.75px;
      }

      @media(max-width: 992px){
        position: relative;
        top: auto;
        right: auto;
        margin: 50px auto 0;
      }

      @media(max-width: 767px){
        margin: 30px auto 0;
      }

      @media(max-width: 540px){
        width: 220px;
      }
    }

  }
}

/*--- pre-footer ---*/

.pre-footer{
  background-color: #000000;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  padding-top: 36px;
  padding-bottom: 32px;
  color: #ffffff;
  position: relative;

  .content{
    .fb
    {
      width: 34px;
      height: 34px;
    }

    .fb{
      background-image: url("../img/fb-icon.svg");
    }
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(max-width: 715px){
      width: 220px;
      margin: 0 auto;
      justify-content: space-around;
      flex-direction: column-reverse;
      flex-wrap: wrap;
    }

    .documents{
      display: flex;

      @media(max-width: 715px){
        flex-wrap: wrap;
        justify-content: space-around;
      }

      a{
        font-size: 14px;
        color: #ffffff;
        margin-right: 48px;
        transition: all 0.5s;

        @media(max-width: 715px){
          margin-right: 0;
          display: block;

          &:nth-child(1){
            margin-bottom: 5px;
          }
        }

        &:hover{
          color: $accent;
        }
      }
    }

    .soc-wrapper{

      display: flex;
      align-items: center;
      position: relative;

      @media(max-width: 715px){
        padding-bottom: 35px;
        margin-bottom: 40px;
        width: 310px;
      }


      a{
        margin-right: 8px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
      }





      .ofs{
        margin-right: 28px;
        line-height: 19px;
        font-size: 11px;

        color: #97999B;

        @media(max-width: 715px){
          position: absolute;
          bottom: 0;
          left: 0;
          margin-right: auto;
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  .go-top{
    position: fixed;
    top: 50%;
    right: 4.7%;
    width: 37px;
    height: 44px;
    margin-top: -22px;
    background-image: url("../img/go-to-top.svg");
    background-repeat: no-repeat;
    background-size: contain;

    @media(max-width: 1640px){
      right: 1.7%;
    }

    @media(max-width: 1530px){
      width: 17px;
      margin-top: -12px;
    }

    @media(max-width: 1460px){
      margin-top: -85px;
    }

    @media(max-width: 1410px){
      margin-top: -12px;
    }

    @media(max-width: 1200px){
      right: 1.7%;
      width: 17px;
      margin-top: -12px;
    }

    @media(max-width: 1023px){
      display: none;
    }
  }
}


#quest-modal {
  .modal-dialog {
    width: 100%;
    padding-left: 15px;
    padding-top: 20px;
    @media(max-width: 992px){
    padding: 30px;

    }
  }
  
  .questions{
    min-height: 675px;
    @media(max-width: 1409px) {
      min-height: 410px;
    }
  }

  .close {
    opacity: 1;
    font-size: 40px;
  }
  .close-modal {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #86BC25;
    opacity: 1;
  }
}

.lounge-text {
  color: #fff;
  text-align: center;
  font-size: 20px;
}


/*--- footer ---*/

footer{
  background-color: #000000;
  padding-top: 41px;
  padding-bottom: 52px;
  color: #97999B;

  p{
    font-size: 11px;
    margin-bottom: 27px;

    &:last-child{
      margin-bottom: 0;
    }

    a{
      color: #00A2E0;
    }
  }
}

/*--- lidmagnit-page ---*/

.lidmagnit-page{
  header{

    .header-content{

      border-bottom: 1px solid rgba(255,255,255,0.5);

      .content{
        display: flex;
        justify-content: space-between;

        @media(max-width: 992px){
          flex-wrap: wrap;
          justify-content: space-around;
        }
      }

      .text{
        width: 502px;

        @media(max-width: 1410px){
          width: 450px;
        }

        @media(max-width: 992px){
          width: 100%;
          margin-bottom: 40px;
        }

        h1{
          max-width: 100%;
          margin-bottom: 37px;
        }

        p{
          max-width: 100%;
          margin-bottom: 24px;
        }

        .button{
          margin-top: 13px;
        }
      }

      .form-wrapper{
        width: 450px;
        background-color: #ffffff;
        padding-top: 36px;
        padding-bottom: 59px;
        color: #000000;

        @media(max-width: 992px){
          background-color: #000000;
          color: #ffffff;
          padding-bottom: 0;
        }

        p{
          max-width: 330px;
          margin: 0 auto 24px;
          font-size: 18px;

          @media(max-width: 767px){
            font-size: 16px;
            max-width: 280px;
          }
        }

        form{
          width: 330px;
          margin: 0 auto;

          @media(max-width: 580px){
            width: 280px;
          }

          .form-group{
            width: 100%;
            height: 60px;
            margin-bottom: 38px;


            label{
              font-size: 16px;
              margin-bottom: 2px;
              display: block;
              font-weight: 400;
            }

            .form-control{
              width: 100%;
              height: 50px;
              background-color: #ffffff;
              border: 1px solid #C4C4C4;
              padding-left: 17px;
              font-size: 16px;
              display: block;
              @media(max-width: 840px){
                width: 80%;
              }
            }
          }

          .button{
            width: 100%;
            padding: 0;
            border: none;
            @media(max-width: 840px){
              width: 80%;
            }
          }
        }
      }
    }
  }

  .pre-footer{
    .go-top{
      display: none;
    }
  }
}

/*--- thx-page ---*/

.thx-page{
  header{
    .header-content{
      border-bottom: 1px solid rgba(255,255,255,0.5);
      padding-top: 205px;
      padding-bottom: 202px;

      @media(max-width: 992px){
        padding-top: 105px;
        padding-bottom: 102px;
      }

      h1{
        margin-bottom: 48px;

        @media(max-width: 992px){
          margin-bottom: 20px;
        }
      }

      p{
        font-size: 18px;
        max-width: 431px;

        @media(max-width: 767px){
          font-size: 16px;
        }
      }

      .pic{
        width: 440px;
        height: auto;
      }

      .mob-pic{
        max-width: 300px;
      }
    }
  }

  .pre-footer{
    .go-top{
      display: none;
    }
  }
}

.thx-pay{
  header{
    .header-content{
      padding-top: 215px;
      padding-bottom: 220px;

      @media(max-width: 992px){
        padding-top: 105px;
        padding-bottom: 102px;
      }


    }
  }
}

.pay-ok-thx{

  header{
    .header-content{
      padding-bottom: 50px;


      p{
        max-width: 631px;

        @media(max-width: 1410px){
          max-width: 431px;
        }

        @media(max-width: 992px){
          max-width: 100%;
        }
      }
    }
  }
}